.intro-container {
  min-height: 0;
  min-width: 0;
  margin-top: 56px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px;
}

.image {
  display: block;
  margin: 36px;
  max-width: 240px;
  border-radius: 50%;
  box-shadow: 0px 35px 100px var(--mainColorLight);
}

.info-container {
  justify-content: center;
  align-items: center;
}

.name {
  font-size: 56px;
  color: #ffffff;
  text-align: center;
  font-weight: lighter;
  background-color: transparent;
}

.role-text {
  color: var(--mainColorLight);
  font-size: 32px;
  text-align: center;
  margin-bottom: 12px;
}

.bio {
  color: white;
  font-size: 24px;
  font-weight: lighter;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 12px;
}

div div hr {
}

@media only screen and (min-width: 768px) {
  .intro-container {
    margin-top: 96px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 24px;
  }

  .info-container {
    margin: 24px;
    align-content: center;
  }

  .image {
    max-width: 240px;
    border-radius: 50%;
    margin: 0;
  }

  .name {
    width: fit-content;
    font-size: 48px;
  }

  .role-text {
    font-size: 20px;
  }

  .bio {
    font-size: 18px;
  }
}

@media only screen and (min-width: 1024px) {
  .intro-container {
    max-width: 75%;
  }

  .name {
    width: fit-content;
    font-size: 72px;
  }

  .image {
    max-width: 260px;
    margin: 24px 36px 24px 0px;
  }
}
