.button {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border: 0dp;
    border-style: none;
    background-color: transparent;
    color: white;
    padding: 10px;
    transition: 200ms;
}
.button:hover {
    cursor: pointer;
    background-color: white;
    border: 0dp;
    border-radius: 100px;
    color: black;
    padding: 10px;
}

.text {
    margin-inline-start: 12px;
    text-align: center;
    user-select: none; 
}

.icon {
    background-color: transparent;
    width: auto;
    height: auto;
}