div div {
  display: flex;
  flex-direction: column;
  transition-timing-function: ease-in;
  align-items: center;
}

.contact-me {
  width: 75%;
  display: flex;
  border-radius: 50px;
  align-items: center;
  padding: 12px;
  background-color: var(--colorDark);
  box-shadow: 0px 35px 100px -50px var(--mainColorLight);
}

.section-name {
  font-size: 64px;
  font-weight: bolder;
  margin: 48px 0px 24px 0px;
  text-shadow: 0px 15px 60px var(--mainColorLight);
}

@media only screen and (min-width: 768px) {
  .contact-me {
    width: 95%;
    display: flex;
    flex-direction: row;
    box-shadow: 0px 35px 100px -20px var(--mainColorLight);
    justify-content: space-around;
  }
  .section-name {
    width: 95%;
    font-size: 48px;
    font-weight: bolder;
  }
}

@media only screen and (min-width: 1024px) {
  .contact-me {
    width: 75%;
  }
  .section-name {
    width: 75%;
    font-size: 48px;
    font-weight: bolder;
  }
}
