@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap");

:root {
  --mainColor: rgb(123, 79, 255);
  --mainColorLight: rgb(138, 98, 255);
  --mainColorDark: rgb(65, 59, 84);
  --mainColorLightDark: rgb(79, 73, 96);
  --colorDark: rgb(39, 36, 47);
  --secondaryColor: #dbcc2b;
  --textColor: #3f3f3f;
  --textColorDark: #e9e9e9;
  font-family: "Titillium Web", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--mainColorDark);
  color: #ffffff;
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  display: none;
}
